*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}
.splash {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: #0288d1;
    background: linear-gradient(#0288d1, #027cbe);
}
.splash-logo {
    width: 140px;
    height: 140px;
}
.splash-quote {
    font-size: 26px;
    font-weight: 300;
    color: #ffffff;
    margin: 1.1em 0;
    opacity: 0;
    transition: opacity 1.25s ease-in-out;
}
.splash-quote.in {
    opacity: 1;
}
.splash-quote:before,
.splash-quote:after {
    color: rgba(255, 255, 255, .5);
    margin-left: 5px;
    margin-right: 5px;
}
.splash-quote:before {
    content: '\201C';
}
.splash-quote:after {
    content: '\201D';
}